html,
body {
  max-width: 100vw;
  scrollbar-width: "none";
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-main: #09021c;
}

@font-face {
  font-family: "e-Ukraine";
  src: url("/Fonts/e-Ukraine-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "e-UkraineHead";
  src: url("/Fonts/e-UkraineHead-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  opacity: 1;
}

.fadeOut {
  opacity: 0;
}
