html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "e-Ukraine";
  src: url("/Fonts/e-Ukraine-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "e-UkraineHead";
  src: url("/Fonts/e-UkraineHead-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


